body {
    font-family: Arial, sans-serif;

    background-image: url("direk.png");
    background-size: 100% 100%;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    display: flex;
    justify-content: center;
    padding-top: 70px;
}

.dictionary {
    background-color: rgb(208, 203, 243);
    width: 500px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(3, 1, 1, 0.2);

    position: relative;
}

h1 {
    text-align: center;
}

.search-box {
    display: flex;
    gap: 10px;
}

input {
    padding: 12px;
    margin: 5px 0;
    border: 1px solid #293899;
    border-radius: 5px;
}

.search-box input {
    flex: 1;
}

button {
    padding: 12px 18px;
    border: none;
    border-radius: 5px;
    background-color: #c9aeee;
    color: rgb(25, 38, 72);
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

#result {
    margin-top: 20px;
    padding: 20px;
    background-color: #efeef4;
    border-radius: 8px;
}

.sticker {
    position: absolute;
    width: 130px;
    height: auto;
    z-index: 5;
    pointer-events: none;
}

.sticker1 {
    top: -60px;
    left: -65px;
}

.sticker2 {
    bottom: -50px;
    right: -65px;
    width: 150px;
}

.suggestion {
    background: white;
    padding: 6px 10px;
    font-size: 13px;
    border: 1px solid #ddd;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 2px;
}